.pixel-art {
	position: relative;
	top: 0;
	left: 0;
	height: 1px;
	width: 1px;
	box-shadow:

8px 4px #2E3AC0,
9px 4px #2E3AC0,
10px 4px #2E3AC0,
11px 4px #2E3AC0,
0px 5px #2E3AC0,
1px 5px #2E3AC0,
2px 5px #2E3AC0,
4px 5px #2E3AC0,
5px 5px #2E3AC0,
7px 5px #2E3AC0,
8px 5px #2E3AC0,
9px 5px #2E3AC0,
10px 5px #2E3AC0,
11px 5px #2E3AC0,
12px 5px #2E3AC0,
6px 6px #2E3AC0,
7px 6px #2E3AC0,
8px 6px #2E3AC0,
9px 6px #2E3AC0,
10px 6px #2E3AC0,
11px 6px #2E3AC0,
12px 6px #2E3AC0,
13px 6px #2E3AC0,
0px 7px #2E3AC0,
1px 7px #2E3AC0,
2px 7px #2E3AC0,
5px 7px #2E3AC0,
6px 7px #2E3AC0,
7px 7px #2E3AC0,
8px 7px #2E3AC0,
9px 7px #2E3AC0,
10px 7px #2E3AC0,
11px 7px #2E3AC0,
12px 7px #2E3AC0,
13px 7px #2E3AC0,
14px 7px #2E3AC0,
4px 8px #2E3AC0,
5px 8px #2E3AC0,
6px 8px #2E3AC0,
7px 8px #2E3AC0,
8px 8px #2E3AC0,
9px 8px #2E3AC0,
10px 8px #2E3AC0,
11px 8px #2E3AC0,
12px 8px #2E3AC0,
13px 8px #2E3AC0,
14px 8px #2E3AC0,
15px 8px #2E3AC0,
0px 9px #2E3AC0,
2px 9px #2E3AC0,
4px 9px #2E3AC0,
5px 9px #2E3AC0,
6px 9px #2E3AC0,
7px 9px #2E3AC0,
8px 9px #2E3AC0,
9px 9px #2E3AC0,
10px 9px #2E3AC0,
11px 9px #2E3AC0,
12px 9px #2E3AC0,
13px 9px #2E3AC0,
14px 9px #2E3AC0,
15px 9px #2E3AC0,
4px 10px #2E3AC0,
5px 10px #2E3AC0,
6px 10px #2E3AC0,
7px 10px #2E3AC0,
8px 10px #2E3AC0,
9px 10px #2E3AC0,
10px 10px #2E3AC0,
11px 10px #2E3AC0,
12px 10px #2E3AC0,
13px 10px #2E3AC0,
14px 10px #2E3AC0,
15px 10px #2E3AC0,
0px 11px #2E3AC0,
2px 11px #2E3AC0,
3px 11px #2E3AC0,
5px 11px #2E3AC0,
6px 11px #2E3AC0,
7px 11px #2E3AC0,
8px 11px #2E3AC0,
9px 11px #2E3AC0,
10px 11px #2E3AC0,
11px 11px #2E3AC0,
12px 11px #2E3AC0,
13px 11px #2E3AC0,
14px 11px #2E3AC0,
6px 12px #2E3AC0,
7px 12px #2E3AC0,
8px 12px #2E3AC0,
9px 12px #2E3AC0,
10px 12px #2E3AC0,
11px 12px #2E3AC0,
12px 12px #2E3AC0,
13px 12px #2E3AC0;
}
